*{
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 14px;
    font-family: verdana;
}
#header{
    background: #7FFFD4;
    width: 100%;
    height: 60px;
    color: black;
    font-family: aardvark cafe;
}
#menu{
    background: #00BFFF;
    width: 100%;
    height: 40px;
    margin: 0px;
    padding: 0px; 
}
#A{
    width: 100%;
    height: 515px;
    background: #00FFFF; 
}
#A1{
    color: black;
    background : #00FFFF;
    padding: 20px;
}
#A2{
    color: black;
    background: #008B8B;
    padding: 10px
}
#A3{
    color: black;
    background : #00FFFF;
    padding: 10px;
}
#footer{
    background: #00BFFF;
    color: black;
    width: 100%;
    height: 45px;
    line-height: 45px;
    bottom: 0px;
    text-align: center;
    position: absolute;
}